<div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card border-primary m-2">
        <div class="card-header text-primary">Review from <strong>{{client_username}}</strong></div>
        <div class="card-body text-secondary">
            <p class="text-warning">Rating: {{stars}}/5 &#11088;</p>
            <p>{{review}}</p>
        </div>
    </div>
</div>
