<div class="container">
    <div class="row py-lg-5 border-bottom">
        <div class="col-lg-6 col-md-8 mx-auto justify-content-center text-center">
            <h2 class="fw-light m-1">Search for housekeepers near you!</h2>
            <form id="search-form">
                <input id="query" type="text" class="form-control m-1" placeholder="Enter a name, username, email or city">
                <button id="search-button" type="submit" class="btn btn-outline-secondary m-1">Search</button>
            </form>
        </div>
    </div>


    <!-- hauskeepr cards -->
    <div class="row">
        {{#if hauskeeprs}}
            {{#each hauskeeprs as |hauskeepr|}}
                {{> hauskeepr-info hauskeepr}}
            {{/each}}
        {{else}}
       <div class="container">
           <h5>Your search yielded no results</h5>
       </div>
        {{/if}}
    </div>

</div>

<script src="/javascript/emailkeepr.js"></script>;
