<!-- hero section -->
<div class="container col-xxl-8 px-4 py-5 bg-white">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="./images/hauskeeprmain-web-optimized.png" class="d-block mx-lg-auto img-fluid" alt="Two individuals holding cleaning tools wearing blue clothes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Let us help you!</h1>
            <p class="lead">We promise to connect you with the best housekeepers in town.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button id="book_appointment" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Book an Appointment</button>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/signup">Sign-Up</a>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/homepage.js"></script>
