<!-- hero section -->
<div class="container col-xxl-8 px-4 py-5 bg-white">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="./images/hauskeeprmain.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy" id="hauskeepr">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Let us help you!</h1>
            <p class="lead">We promise to connect you with the best housekeepers in town.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Book an Appointment</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign-Up</button>
            </div>
        </div>
    </div>
</div>

{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
    integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
    integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
    integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
<script src="/public/javascript/animate.js"></script> --}}