<form class="login-form">
    <main class="d-flex align-items-center">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <img src="../public/images/blondeman.jpeg" class="img-thumbnail">
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email-login" placeholder="Email">
                            <label for="email-login">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password-login" placeholder="Password">
                            <label for="password-login">Password</label>
                        </div>
                        <button class="w-100 btn btn-primary btn-lg px-4 me-md-2" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <nav class="navbar text-primary align-items-center border-top">
        <div class="container-fluid justify-content-center">
            <h6 class="">Created by theKeeprs</h6>
        </div>

        <div class="container justify-content-center text-dark">
            <div class="mx-2">
                <p>About Us</p>
            </div>
            <div class="mx-2">
                <p>Contact Us</p>
            </div>
        </div>
    </nav>


</form>

<script src="/javascript/login.js"></script>