<form class="signup-form">
    <main class="d-flex align-items-center">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <img src="../public/images/bookhauskeepr.png" class="img-thumbnail">
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="mb-3">
                            <label for="username-signup">username:</label>
                            <input type="text" id="username-signup" />
                        </div>
                        <div class="mb-3">
                            <label for="email-signup">email:</label>
                            <input type="text" id="email-signup" />
                        </div>
                        <div class="mb-3">
                            <label for="password-signup">password:</label>
                            <input type="password" id="password-signup" />
                        </div>
                        <div class="mb-3">
                            <label for="first-name">first name:</label>
                            <input type="text" id="first-name" />
                        </div>
                        <div class="mb-3">
                            <label for="last-name">last name:</label>
                            <input type="text" id="last-name" />
                        </div>
                        <div class="mb-3">
                            <label for="dob">date of birth:</label>
                            <input type="text" id="dob" />
                        </div>

                        <div class="mb-3">
                            <label for="address-line-1">email:</label>
                            <input type="text" id="address-line-1" />
                        </div>
                        <div class="mb-3">
                            <label for="address-line-2">password:</label>
                            <input type="password" id="address-line-2" />
                        </div>
                        <div class="mb-3">
                            <label for="city">first name:</label>
                            <input type="text" id="city" />
                        </div>
                        <div class="mb-3">
                            <label for="zipcode">last name:</label>
                            <input type="text" id="zipcode" />
                        </div>
                        <div class="mb-3">
                            <label for="state">date of birth:</label>
                            <input type="text" id="state" />
                        </div>
                        <button class="w-50 btn btn-primary btn-lg px-4 me-md-2" type="submit">Sign-Up</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</form>

<script src="/javascript/signup.js"></script>